[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
  cursor: text;
}

a {
  color: rgb(83, 83, 83);
  text-decoration: none;
}

a:hover {
  color: inherit;
}
